<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCATCH</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Lora', serif;
            /* Use 'Lora' for the body text */
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Lora', serif;
            /* Apply 'Lora' to all headings */
        }
    </style>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full fixed top-0 left-0 px-5 py-3">
        <h3 class="text-xl">Scatch</h3>
    </nav>